

  <body>
    <div class="container-fluid">
      <div class="row1">
        <div class="col-12">
          <div class="main" >
            <div class="row">
              <div class="col-12">        
                <div class="content1">
                  <mat-form-field>
                    <mat-label>Select city</mat-label>
                    <mat-select [(ngModel)]='cityModel' (selectionChange)='getData(cityModel)'>
                      <mat-option *ngFor="let city of cities" [value]="city">
                        {{city}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="header">
                <div class="col-4">
                  <div class="label">
                    <div class="labelW1">
                      <span> <b>CURRENT WEATHER</b></span>
                    </div>
                    <div class="labelW2">
                      <span> {{ weather[0].list[0].main.feels_like - 273.15 | number : '1.0-0'}}  </span> 
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="con">
                    COUNTRY:
                    <div>
                      {{ weather[0].list[0].sys.country}} 
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="city">
                    CITY:
                    <div>
                      {{ weather[0].list[0].name }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="center">
                <div class="col-2">
                  <div class="img">
                    <img src='../assets/sun.png' alt="Sun">        
                  </div>
                </div>
                <div class="col-5">
                  <div class="temp">
                    {{ weather[0].list[0].main.temp-273.15 | number : '1.0-0'}} C 
                  </div>
                </div>
                <div class="col-5">
                  <div class="rep">
                    {{ weather[0].list[0].weather[0].description}}
                    <div class="feellike">
                      FEELS LIKE: {{ weather[0].list[0].main.feels_like -273.15 | number : '1.0-0'}} C
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="content">
                <span>Expect partly sunny skies. The high will be {{ weather[0].list[0].main.temp - 273.15 | number : '1.0-0'}} <b>C</b></span> 
              </div>
            </div>

            <div class="row">
              <div class="footer">
                <div class="col-4 col-lg-2 col-sm-4 col-xs-4">
                  <div class="min">
                    MIN TEMP: 
                    <div> {{ weather[0].list[0].main.temp_min - 273.15 | number : '1.0-0'}} <b>C</b> </div>
                  </div>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 col-xs-4">
                  <div class="max">
                    MAX TEMP:
                    <div> {{ weather[0].list[0].main.temp_max - 273.15 | number : '1.0-0'}} <b>C </b> </div>
                  </div>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 col-xs-4">
                  <div class="wind">
                    WIND:
                    <div> {{ weather[0].list[0].wind.speed}} <b>Km/h</b> </div>
                  </div>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 col-xs-4">
                  <div class="hum">
                    HUMIDITY:
                    <div> {{ weather[0].list[0].main.humidity}} <b>%</b> </div>
                  </div>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 col-xs-4">
                  <div class="pres"> 
                    PRESSURE:
                    <div> {{ weather[0].list[0].main.pressure}} <b>mb</b> </div>
                  </div>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 col-xs-4">
                  <div class="coord">
                    <div class="lat">
                      Lat:
                      <div> {{  weather[0].list[0].coord.lat }} </div>
                    </div>
                    <div class="lon">
                      Lon:
                      <div> {{  weather[0].list[0].coord.lon }} </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
